<%= form_for @file_upload, :html => { :class => "form-horizontal file_upload" } do |f| %>

  <% if @file_upload.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@file_upload.errors.count, "error") %> prohibited this file_upload from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @file_upload.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :file_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :file_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:file_name) %>
  </div>
  <div class="form-group">
    <%= f.label :uploaded_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.datetime_select :uploaded_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:uploaded_at) %>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>
  <div class="form-group">
    <%= f.label :file_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :file_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:file_type) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                file_uploads_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
