<%- model_class = FileUpload -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:file_name) %>:</strong></dt>
  <dd><%= @file_upload.file_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:uploaded_at) %>:</strong></dt>
  <dd><%= @file_upload.uploaded_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @file_upload.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file_type) %>:</strong></dt>
  <dd><%= image_tag @file_upload.file_type %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              file_uploads_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_file_upload_path(@file_upload), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              file_upload_path(@file_upload),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<%= link_to t('.Re-Upload', :default => t("helpers.links.Re-Upload")),
            new_file_upload_file_version_path(@file_upload), :class => 'btn btn-default' %>


<table class="table table-striped">
  <thead>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:opcion) %></strong></td>
      <td><strong><%= model_class.human_attribute_name(:version) %></strong></td>
      <td><strong><%= model_class.human_attribute_name(:type) %></strong></td>
    </tr>
  </thead>
  <tbody>
    <% @file_versions.each do |file_version| %>
      <tr>
        <td>
          <%= link_to t('.restore', :default => t("helpers.links.restore")),
              edit_file_upload_file_version_path(params[:id], file_version.id), :class => 'btn btn-default'%>

        </td>
        <td><%= file_version.file_version %></td>
        <td><%= image_tag file_version.file_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>